* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  @apply font-main text-base text-primary bg-yellow;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  max-width: 1440px;
  padding: 0 135px;
  margin: 0 auto;
  overflow: hidden;
}
